.body-swb {
    background-image: url("/assets/img/NTL-background.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
}

.img-swb{
    background-color: transparent;
    position: absolute;
    margin: 0;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 63, 163);
    background: rgba(0,0,0,0.5)
    
}

.iframe-video{
    display: block;
    margin: auto;
    width: 1.8fr;
}
