<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
    background-color: rgb(237,192,177) !important; 
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
    background-color: rgb(237,192,177) !important; 
>>>>>>> 4ac233fb6c4a9f5b53582160eae3a8cb07aca99b
}